[Unit]
Description=Markdawn API Server (Hono)
After=network-online.target

[Container]
Image=localhost/markdawn-api:latest
ContainerName=markdawn-api
Pod=markdawn.pod
Environment=NODE_ENV=production
Environment=PORT=3001
EnvironmentFile=/var/www/markdawn/.env
WorkingDir=/app
Exec=node /app/packages/api/dist/index.mjs


[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=default.target
